*{
    padding: 0;
    margin: 0;
    /*font-family: Apple;*/
}

.div-main{
    width: 80%;
    margin: 0 auto;
    /*background-color: #e3e3e3;*/
}

.div-titre{
    font-size: 40px;
}

.div-image{
    height: 560px;
    width: 90%;
    /*background-color: red;*/
    border: 1px solid #bebebe;
    box-shadow: 1px 4px 10px 0 rgba(12, 10, 10, 0.3);
    border-radius: 10px;
    /*margin: 0 auto;*/
    /*margin-top: 30px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*gap: 3px;*/



    --gap: 16px;
    --num-cols: 3;
    --row-height: 100%;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols),1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

}

.div-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.image-grid-col-2{
    grid-column: span 2;
}

.image-grid-row-2{
    grid-row: span 2;
}

@media screen and (max-width: 1024px) {
    .div-image{
        --num-cols: 1;
        --row-height: 70%;

    }
}



.offre_image_detail{
    width: 100%;
    height: 100%;
}



    /*  adresse logo */
.div-adresse, .div-description, .div-utilisateur, .div-type-logement, .div-equipement, .div-prix{
    margin-top: 30px;
    font-size: 20px;
}

.div-adresse>p, .div-description>p, .div-type-logement>p, .div-utilisateur>p, .div-prix>p{
    margin-top:5px;
    margin-left: 80px;
}

.div-equipement>p{
    margin-left: 80px;
    margin-top:2px;
    display: flex;
    align-items: flex-end;
}

.div-all-logo{
    display: flex;
    margin-left: 20px;
}

.div-all-logo p{
    display: flex;
    align-items: flex-end;
    font-weight: bold;
}


.all-logos_upper-main{
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.card-text{
    font-weight: lighter;
}

                                                            /*  section-upper-main */
.section-upper-main{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.section-left{
    width: 50%;
}

.section-right{
    position: sticky;
    /*z-index: 1;*/
    top: 40px;
    /*bottom: 50px;*/
    right: 0;
    width: 350px;
    height: 380px;
    margin: 20px 50px 0;
    background: linear-gradient(to left, #a2c7bc, #c9d9d4);
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.section-right-annonce-publiee{
    position: sticky;
    /*z-index: 1;*/
    top: 130px;
    /*bottom: 20px;*/
    right: 0;
    width: 32%;
    height: 160px;
    margin: 20px 50px 0;
    background: linear-gradient(to left, #a2c7bc, #c9d9d4);
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



                                                /*  section-right */


.div-à-reserver h3{
    text-align: center;
    font-size: 25px;
    margin-bottom: 3px;
}

.div-à-reserver hr{
    margin-bottom: 40px;
}

.div-date-debut>label, .div-date-fin>label{
    margin-bottom: 2px;
}

.prix-par-nuit, .div-date-debut {
    margin-bottom: 30px;
}

.div-btn-reserver{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}




.btn-reserver{
    border: 1px solid black;
    background-color: #a9e3e3;

}

.btn-reserver:hover{
    border: 1px solid black;
    background:linear-gradient(to left,#a9e3e3, #a4b7b7) ;
}



.div-annonce-publiee{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 12px;
    margin-right: -10px;
}
.btn_modifier, .btn_supprimer,.btn-reserver{
    width: 90%;
}



#div_avis{
    margin-top: 20px;

}

#div_avis form{
    display: flex;
    margin-left: 80px;
    margin-top: 30px;
    height: 250px;
}

.div_avis_form{
    width: 55%;
}


.div_avis_form textarea, .div_avis_form input{
    width: 90%;
}

.div_avis_notes{
    margin-top: 19px;
}



.div_avis_submit{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 60px;
    background:linear-gradient(to left,#a9e3e3, #a4b7b7) ;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.div_avis_submit p {
    margin-bottom: 30px;
    width: auto;
    height: auto;
}


.div_avis_submit button{
    width: 70%;
    height: 40px;
}


.hr{
    margin-top: 60px
}

.div_alert-danger{
    margin-top: 30px;
    margin-bottom: 30px;
}

.div_alert-danger ul{
    margin-left: 30px;
}


.div_alert-success p{
    margin-left: 40px;
}

.div-deja-reserve{
    margin-left: 15px;
}

/*.btn-supprimer{*/
/*    background-color: ;*/
/*}*/

.btn-supprimer:hover{
    width:100%;
    background-color: #5b0b0b;
}

.btn-modifier:hover{
    width:100%;
}

                                            /*   Commentaires   */

.section_commentaires{
    margin-top: 40px;
    margin-left: 20px;
    width: 100%;
}


.commentaire{
    position: relative;
    bottom: 50px;
    left: 50px;
}


.logo_commentaire {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.user_note{
    order: 2;
}

.user_commentaire{
    order: 3;
}





