*{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

    /*  Header: ensemble des élements  */
.header{
    width: 100%;
    height: 120px;
    /*background-color: #acc6aa;*/
    background: linear-gradient(to bottom, #acc6aa, #ffffff);
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: space-between;

}
    /*  logo  */
.logo{
    width: 180px;
    height: 180px;
    position: relative;
    left: 120px;
    top: -35px;
    animation: fade 0.6s ease-in ;
}

/*.div-logo{*/
/*    margin-top:5px;*/
/*    margin-left: 150px;*/
/*}*/

    /*  links  */
.div-links{
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right:80px;
    align-items: center;
    gap: 30px;
    animation: fade 1s ease-in ;
}



    /*  les Buttons, sans avoir fait l'inscription   */
.link{
    font-size: 18px;
    color: black;
    padding: 10px;
    /*width: fit-content;*/
    border-radius: 9px;
    /*width: 140px;*/
    /*transition: .6s;*/
    font-family: "Arial";
}



.link:hover{
    box-shadow: 3px 2px 4px 2px grey;
    transform: translateY(-1px);
    text-decoration: none;
    background-color: #fffdfb;
    color: black;
    transition: box-shadow 0.2s ,background-color 0.8s, transform 1.3s;

}



.main_section{
    width: 87%;
    margin:0 auto;
    /*margin-top: 30px;*/
    /*background-color: #02a602;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 18px;
}


.annonce{
    margin: 10px;
    width: 280px;
    height: 380px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 10px;
    animation: fade 1s ease-in ;
}

.div_offre_image{
    height: 70%;
    width: 100%;
}

.annonce:hover{
    box-shadow: -4px 3px 2px 0 #c7c7c7;
    transform: translateY(-3px);
    transition: box-shadow 0.3s, transform 0.9s;
}


.offre_image{
    border-radius: inherit;
    width: 100%;
    height: 100%;
}

.offre_detail{
    margin-top: 12px;
    padding: 4px 10px;
}
.offre_detail a:hover{
    text-decoration: none;
    color: black;
}


    @keyframes fade {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 100%;
        }

    }
                        /*      main      */

.body{
    background-color: #dae8d8;
}

                        /*    pagination   */
#pagination{
    width: 100%; /* Ensure the pagination takes the full width */
    display: flex;
    justify-content: center; /* Center the pagination */
    margin: 50px 0;
}


                        /*  Footer  */

.footer{
    width: 100%;
    height: 230px;
    /*background: linear-gradient(to bottom, #acc6aa, #dae8d8);*/
    background: linear-gradient(to top,#dae8d8 ,#ffffff);
    border-radius: 4px 4px 0 0;
}


/*.div_offre{*/
/*    position: relative;*/
/*    max-width: 48rem;*/
/*    margin:0 auto;*/
/*}*/

/*.slider{*/
/*    display: flex;*/
/*    aspect-ratio: 4/3;*/
/*    overflow-x: auto;*/
/*    scroll-snap-type: x mandatory;*/
/*    scroll-behavior: smooth;*/
/*    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);*/
/*}*/
